/* Algemene opmaak */
body {
    font-family: Arial, sans-serif;
    font-weight: bold;
    background-image: url('background.jpg'); /* Replace 'background.jpg' with the path to your image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}

header {
    margin-top: 100px;
    margin-left: 20px;
}

footer {
    margin-bottom: 30px;
    margin-left: 20px;
}

img {
    width: 150px; /* You can adjust this size as needed */
    height: 150px; /* This should be the same as the width to maintain a perfect circle */
    border-radius: 50%;
    object-fit: cover;
    display: block; /* Ensure the image is treated as a block element */
    margin: 0 auto; /* Center the image horizontally */
}


/* Container */
.container {
    margin: 60px auto; 
    padding: 20px; 
}


/* Navbar */
.navbar {
    background-color: #da2424; 
    color: #fff;
    font-weight: bold;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #900; /* Rode kleuraccent */
}


/* Rode kleuraccent */
.red {
    color: #900;
}

.red-background {
    background-color: #900;
}

/* Zwarte kleuraccent */
.black {
    color: #333;
}

.black-background {
    background-color: #333;
}

/* Witte kleuraccent */
.white {
    color: #fff;
}

.white-background {
    background-color: #fff;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    width: calc(45% - 20px); /* Voor twee artikelen per rij */
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    transition: transform 0.3s ease;
}

.project:hover {
    transform: scale(1.05); /* Maak het artikel iets groter bij hover */
}

.project img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.project p {
    margin-bottom: 10px;
}

.read-more {
    display: block;
    text-align: center;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.read-more:hover {
    background-color: #555;
}

.profile-img {
    position: absolute;
    top: 50px;
    right: 20px;
    width: auto; /* Let the width adjust automatically */
    height: 150px; /* Set the desired height */
    border-radius: 50%;
    border: 3px solid #fff;
    z-index: 1000;
}

.project-details {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.project-details h2 {
    margin-top: 30px;
}
